.completed-todo-item-container {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px 1px #15091b;
  color: antiquewhite;
  overflow: hidden;
}

.completed-todo-item-container:after {
  content: "";
  position: absolute;
  margin: -60px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: #516e4d;
}

.todo-buttons-container {
  width: 35%;
}

.check-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  color: #faebd7;
  filter: invert(87%) sepia(6%) saturate(1474%) hue-rotate(328deg)
    brightness(112%) contrast(96%);
  width: 1rem;
  height: 1rem;
}

.todo-text {
  width: 100%;
}

button {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.remove-button {
  color: antiquewhite;
  background-color: #793421;
}
