.todo-item-container {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px 1px #15091b;
  color: antiquewhite;
}

.todo-buttons-container {
  display: flex;
  width: 35%;
}

.todo-text {
  width: 100%;
}

.check-icon {
  filter: invert(87%) sepia(6%) saturate(1474%) hue-rotate(328deg)
    brightness(112%) contrast(96%);
  width: 1rem;
  height: 1rem;
}

button {
  width: 5rem;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.completed-button {
  background-color: #516e4d;
}

.remove-button {
  margin-left: 1rem;
  color: antiquewhite;
  background-color: #793421;
}
