.app {
  box-sizing: border-box;
  padding-top: 2rem;
  background-color: #666677;
  font-family: Georgia, Helvetica, sans-serif;
  height: 100vh;
}

.todo-item-container {
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  gap: 6px;
  margin: 0.5rem 0;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px 1px #15091b;
  color: antiquewhite;
}

.todo-buttons-container {
  display: flex;
  gap: 6px;
}

.edit-todo-input {
  flex: 1;
  font-size: 16px;
  padding-left: 1rem;
  border: none;
  background-color: antiquewhite;
  border-radius: 8px;
}

.todo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1rem;
}

.icon {
  filter: invert(87%) sepia(6%) saturate(1474%) hue-rotate(328deg)
    brightness(112%) contrast(96%);
  width: 1rem;
  height: 1rem;
}

.button {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 8px;
  cursor: pointer;
}

.complete-button {
  color: bisque;
  background-color: hsl(113, 18%, 35%);
}

.complete-button:hover {
  background-color: hsl(113, 18%, 30%);
}

.edit-button {
  background-color: hsl(71, 33%, 35%);
}

.edit-button:hover {
  background-color: hsl(71, 33%, 30%);
}

.remove-button {
  background-color: hsl(13, 57%, 35%);
}

.remove-button:hover {
  background-color: hsl(13, 57%, 30%);
}

.inner-completed-todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  color: antiquewhite;
  overflow: hidden;
}

.completed-todo-item-container {
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  margin: 0.5rem 0;
  position: relative;
  box-shadow: 0 4px 8px 1px #15091b;
  color: antiquewhite;
}

.inner-completed-todo-item-container:after {
  content: "";
  position: absolute;
  margin: -60px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: hsl(113, 18%, 35%);
}

.completed-todo-check-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  filter: invert(87%) sepia(6%) saturate(1474%) hue-rotate(328deg)
    brightness(112%) contrast(96%);
  width: 1rem;
  height: 1rem;
}

.new-todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 6px 16px 2px #15091b;
}

.new-todo-input {
  flex: 1;
  font-size: 22px;
  padding: 8px;
  padding-left: 12px;
  border: none;
  background-color: antiquewhite;
  border-radius: 8px;
}

.list-wrapper {
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.list-scrollable {
  padding: 0 1rem;
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
